<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
	<a href="https://raphate.github.io/"><div class="nav-logo logo-negative"></div></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>        
	    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
<div id="search">
    <script>
  (function() {
    var cx = '005494856051464073858:zjul8mhaesi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div>
		{% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
                {% for page in site.pages %}
		{% unless page.exclude_from_nav %}
                {% if page.title %}
                <!-- suppress all category and tag meta pages -->
                {% if page.url contains '/meta/' %}
                {% else %}
		{% if page.url contains '404' %}
                {% else %}
		{% if page.navigation_weight %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endif %}
		{% endif %}
                {% endif %}
		{% endunless %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
